.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: auto;
}

.brand {
	flex: 0 0 200px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo {
	width: 24px;
	height: 24px;
}

.brand-title {
	font-family: 'Anton', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color: var(--primary);
}

.game-info {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-info .message {
	width: 50%;
	text-align: center;
	/* background-color: rgba(0, 0, 0, 0.035); */
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	border: 1px solid rgba(0, 0, 0, 0.15);
	/* border-radius: 4px; */
	/* box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1); */
	padding: 6px;
}

.fill-empty {
	flex: 0 0 200px;
}
