.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: auto;
}

.brand {
	flex: 0 0 200px;
	display: flex;
	align-items: center;
	gap: 12px;

	font-family: 'Anton', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	color: var(--primary);
}

.game-info {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-info.win {
	color: var(--primary);
	font-weight: 900;
}

.game-info.lose {
	color: var(--red);
	font-weight: 900;
}

.game-info .message {
	width: 50%;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 6px;
}

.fill-empty {
	flex: 0 0 200px;
}
